
/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* TÍTULO PRINCIPAL */
h1{
    text-align: center;
    padding: 20px;
    background-color: #b4b22e;
    color: rgb(209, 26, 26);
    font-size: 3em;
}

/* MENÚ */
nav{
    background-color: #b6c397;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

nav li{
    margin: 10px 20px;
}

nav a{
    text-decoration: none;
    color: #111010;
    font-weight: bold;
}

nav a:hover{
    color: violet;
}

/* SECCIONES */
h2{
    margin: 20px;
    color: #8a1515;
    border-bottom: 2px solid violet;
    padding-bottom: 5px;
}

/* CONTENIDO */
p{
    margin: 10px 20px;
    line-height: 1.6;
}

/* IMÁGENES */
img{
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 90%;
}

/* NOTICIAS */
strong{
    display: block;
    font-size: 1.2em;
    margin: 10px 20px;
}

/* LINKS */
a{
    color: blueviolet;
}

a:hover{
    text-decoration: underline;
}

/* VIDEO Y AUDIO */
video, audio{
    display: block;
    margin: 20px auto;
}

/* FOOTER */
footer{
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}